<div class="p-2">
  <h2>{{ "BOOK_MANAGEMENT"| translate }}</h2>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
    <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="d-flex gap-2">
    <div class="col-3">
      <img class="rounded-1" width="100%" height="100%%" [src]="selectedPicture || 'https://picsum.photos/1900/800'"
           alt="...">
      <div class="mt-2">
        <input (change)="onFileSelected($event)" class="form-control" type="file" id="formFile" accept="image/*">
      </div>
    </div>
    <div class="col-9">
      <form class="row g-3 m-2">
        <mat-form-field>
          <mat-label>{{ 'FORM_BOOK_TITLE' | translate }}</mat-label>
          <input matInput [(ngModel)]="bookRequest.title" name="title" type="text" id="title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'FORM_AUTHOR_NAME' | translate }}</mat-label>
          <input matInput [(ngModel)]="bookRequest.authorName" name="authorName" type="text" id="authorName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'FORM_ISBN' | translate }}</mat-label>
          <input matInput [(ngModel)]="bookRequest.isbn" name="isbn" type="text" id="isbn">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'FORM_SYNOPSIS' | translate }}</mat-label>
          <textarea matInput [(ngModel)]="bookRequest.synopsis" name="synopsis" rows="4" id="synopsis"></textarea>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="bookRequest.shareable" name="shareable"
                      id="shareme">{{ 'FORM_IS_SHAREABLE' | translate }}
        </mat-checkbox>

        <div class="d-flex justify-content-end gap-2 col-12">
          <button (click)="saveBook()" type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save"></i>&nbsp;{{ 'BUTTON_SAVE' | translate }}
          </button>
          <a routerLink="/books/my-books" class="btn btn-outline-danger">
            <i class="fas fa-cancel"></i>&nbsp;{{ 'BUTTON_CANCEL' | translate }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
